# loc() and iloc()
最基本的概念loc通常用于行标签（索引）和列标签，iloc通常直接用于行序号和列序号
loc是location的意思，和iloc中i的意思是指integer，所以它只接受整数作为参数
loc为Selection by Label函数，即为按标签取数据
创建一个以abcd为索引，四行三列的Dataframe。

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'number':[10,20,30,20],
     '科目':['语文','数学','英语','化学'],
     '名称':['小米','华为','苹果','联想']},index=['a','b','c','d'])
print(df)

   number  科目  名称
a      10  语文  小米
b      20  数学  华为
c      30  英语  苹果
d      20  化学  联想

In [3]:
print(df.loc['a':'c'])
print(df.loc[['a','c']])
print(df.loc[:'c'])

   number  科目  名称
a      10  语文  小米
b      20  数学  华为
c      30  英语  苹果
   number  科目  名称
a      10  语文  小米
c      30  英语  苹果
   number  科目  名称
a      10  语文  小米
b      20  数学  华为
c      30  英语  苹果

In [4]:
print(df.loc['b':'c',['number','科目']])

   number  科目
b      20  数学
c      30  英语

但iloc不是直接取已有索引。而是默认索引就是1，2，3，4~~~
iloc函数为Selection by Position，即按位置选择数据，即第n行，第n列数据，只接受整型参数

In [5]:
print(df.iloc[0:3])
print(df.iloc[[0,2]])
print(df.iloc[:3])

   number  科目  名称
a      10  语文  小米
b      20  数学  华为
c      30  英语  苹果
   number  科目  名称
a      10  语文  小米
c      30  英语  苹果
   number  科目  名称
a      10  语文  小米
b      20  数学  华为
c      30  英语  苹果

In [6]:

print(df.iloc[1:3,0:2])

   number  科目
b      20  数学
c      30  英语

In [7]:
import pandas as pd
df =pd.read_excel('data.xlsx', sheet_name= '因子分析2', index_col='编号')
df.head()

     有机含量   黏土矿物  FeS2   碳酸盐   SiO2  Fe2O3  Al2O3   CaO   MgO
编号
1   86.76  12.25  0.00  0.40  46.20   5.26  34.55  3.58  1.30
2   92.52   7.32  0.00  0.16  47.52   3.68  37.70  1.95  0.59
3   96.79   3.07  0.17  0.00  47.86   7.82  36.77  1.38  0.63
4   85.56  13.03  0.94  0.47  45.04   7.44  36.06  3.43  0.65
5   87.75  10.26  1.23  0.76  36.22  24.29  29.25  3.23  1.15

In [8]:
df.loc[:3,["有机含量","碳酸盐"]]

     有机含量   碳酸盐
编号
1   86.76  0.40
2   92.52  0.16
3   96.79  0.00

In [9]:
df.loc[2:7,["有机含量","碳酸盐"]]

     有机含量   碳酸盐
编号
2   92.52  0.16
3   96.79  0.00
4   85.56  0.47
5   87.75  0.76
6   75.69  2.50
7   99.21  0.00

In [10]:
df.iloc[1:3,2:3]

    FeS2
编号
2   0.00
3   0.17