In [1]:
import pandas as pd
import numpy as np

In [6]:
data = {"grammer":["Python","C","Java","GO","Java","SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df = pd.DataFrame(data)
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4    Java    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [10]:
result=df[df['grammer'].str.contains("Python")]
result

  grammer  score
0  Python    1.0
7  Python   10.0

In [11]:
df.columns

Index(['grammer', 'score'], dtype='object')

In [13]:
df.rename(columns={'score':'popularity'}, inplace = True)
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4    Java         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [14]:
df['grammer'].value_counts()

Python    2
Java      2
C         1
GO        1
SQL       1
PHP       1
Name: grammer, dtype: int64

In [16]:
df['popularity'] = df['popularity'].fillna(df['popularity'].interpolate())
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4    Java         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [18]:
df[df['popularity'] > 3]

  grammer  popularity
3      GO         4.0
4    Java         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [19]:
df.drop_duplicates(['grammer'])

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
5     SQL         6.0
6     PHP         7.0

In [20]:
df['popularity'].mean()

4.75

In [21]:
df['grammer'].to_list()

['Python', 'C', 'Java', 'GO', 'Java', 'SQL', 'PHP', 'Python']

In [22]:
df.to_excel('filename.xlsx')

In [23]:
df.shape

(8, 2)

In [24]:
df[(df['popularity'] > 3) & (df['popularity'] < 7)]

  grammer  popularity
3      GO         4.0
4    Java         5.0
5     SQL         6.0

In [26]:
# 交换两列位置
temp = df['popularity']
df.drop(labels=['popularity'], axis=1,inplace = True)
df.insert(0, 'popularity', temp)

In [27]:
df[df['popularity'] == df['popularity'].max()]

   popularity grammer
7        10.0  Python

In [28]:
df.tail()

   popularity grammer
3         4.0      GO
4         5.0    Java
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [36]:
# 删除最后一行数据
df.drop([len(df)-1],inplace=True)
df

   popularity grammer
0         2.0       C
1         3.0    Java
2         4.0      GO
3         5.0    Java
4         6.0     SQL
7         6.6    Perl
5         7.0     PHP
6        10.0  Python

In [32]:
row={'grammer':'Perl','popularity':6.6}
df = df.append(row,ignore_index=True)
df

C:\Users\xyt55\AppData\Local\Temp\ipykernel_26684\875954613.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

   popularity grammer
0         2.0       C
1         3.0    Java
2         4.0      GO
3         5.0    Java
4         6.0     SQL
5         7.0     PHP
6        10.0  Python
7         6.6    Perl
8         6.6    Perl

In [34]:
df.sort_values("popularity",inplace=True)
df

   popularity grammer
0         2.0       C
1         3.0    Java
2         4.0      GO
3         5.0    Java
4         6.0     SQL
7         6.6    Perl
8         6.6    Perl
5         7.0     PHP
6        10.0  Python

In [35]:
df['grammer'].map(lambda x: len(x))

0    1
1    4
2    2
3    4
4    3
7    4
8    4
5    3
6    6
Name: grammer, dtype: int64