#  1 - Pandas 介绍

In [1]:
import pandas as pd

In [3]:
#  相对当前代码的当前路径,
#dataFrame : 代表着一个矩阵，（这是pandas 默认读进来的进来就是dataFrame 矩阵）
# 而numpy默认读进来的就是，ndarray 数组

df = pd.read_csv('./whether.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte

In [9]:
print(help(pd.read_csv))             # 查看一下函数

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

None

In [7]:
# . head() 函数可以读取前几条数据，指定前几条都可以， 默认展示的是前五条数据
df.head(6)

,Entry,Entry name,Protein names,Gene names,Length,Mass
0,A0A584,TVBK2_HUMAN,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
1,Q9BXU3,TX13A_HUMAN,Testis-expressed protein 13A,TEX13A,409,"45,583"
2,Q15031,SYLM_HUMAN,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
3,Q6PKC3,TXD11_HUMAN,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
4,P42681,TXK_HUMAN,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"
5,P40222,TXLNA_HUMAN,Alpha-taxilin,TXLNA TXLN,546,"61,891"

In [8]:
df.tail()              # 读取后面的几个数据

,Entry,Entry name,Protein names,Gene names,Length,Mass
20416,Q9H816,DCR1B_HUMAN,5' exonuclease Apollo (EC 3.1.-.-) (DNA cross-...,DCLRE1B SNM1B,532,"60,002"
20417,O94760,DDAH1_HUMAN,"N(G),N(G)-dimethylarginine dimethylaminohydrol...",DDAH1 DDAH,285,"31,122"
20418,O95865,DDAH2_HUMAN,"N(G),N(G)-dimethylarginine dimethylaminohydrol...",DDAH2 DDAH G6A NG30,285,"29,644"
20419,Q96GG9,DCNL1_HUMAN,DCN1-like protein 1 (DCUN1 domain-containing p...,DCUN1D1 DCN1 DCUN1L1 RP42 SCCRO,259,"30,124"
20420,Q8IZD4,DCP1B_HUMAN,mRNA-decapping enzyme 1B (EC 3.-.-.-),DCP1B,617,"67,723"

# 数据信息读取与展示

In [10]:
# .info() 函数返回当前信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20421 entries, 0 to 20420
Data columns (total 6 columns):
Entry            20421 non-null object
Entry name       20421 non-null object
Protein names    20421 non-null object
Gene names       20271 non-null object
Length           20421 non-null int64
Mass             20421 non-null object
dtypes: int64(1), object(5)
memory usage: 957.3+ KB

In [11]:
# 查看索引
df.index

RangeIndex(start=0, stop=20421, step=1)

In [12]:
# 查看列名
df.columns

Index(['Entry', 'Entry name', 'Protein names', 'Gene names', 'Length', 'Mass'], dtype='object')

In [14]:
# 查看列的数据类型
df.dtypes

Entry            object
Entry name       object
Protein names    object
Gene names       object
Length            int64
Mass             object
dtype: object

In [15]:
# 有的API文档默认输入的数据格式为，array 格式，此时就要把数据从DataFrame 格式转换为array

df.values                
# 获得的数据类型为 数组类型，且默认取得前三个数据，后三个数据

array([['A0A584', 'TVBK2_HUMAN', 'T cell receptor beta variable 11-2',
        'TRBV11-2 TCRBV21S3A2N2T', 115, '12,743'],
       ['Q9BXU3', 'TX13A_HUMAN', 'Testis-expressed protein 13A',
        'TEX13A', 409, '45,583'],
       ['Q15031', 'SYLM_HUMAN',
        'Probable leucine--tRNA ligase, mitochondrial (EC 6.1.1.4) (Leucyl-tRNA synthetase) (LeuRS)',
        'LARS2 KIAA0028', 903, '101,976'],
       ...,
       ['O95865', 'DDAH2_HUMAN',
        'N(G),N(G)-dimethylarginine dimethylaminohydrolase 2 (DDAH-2) (Dimethylarginine dimethylaminohydrolase 2) (EC 3.5.3.18) (DDAHII) (Dimethylargininase-2) (Protein G6a) (S-phase protein)',
        'DDAH2 DDAH G6A NG30', 285, '29,644'],
       ['Q96GG9', 'DCNL1_HUMAN',
        'DCN1-like protein 1 (DCUN1 domain-containing protein 1) (Defective in cullin neddylation protein 1-like protein 1) (Squamous cell carcinoma-related oncogene)',
        'DCUN1D1 DCN1 DCUN1L1 RP42 SCCRO', 259, '30,124'],
       ['Q8IZD4', 'DCP1B_HUMAN', 'mRNA-decapping enzyme 1B (EC 3.-.-.-)',
        'DCP1B', 617, '67,723']], dtype=object)

自己创建一个dataFrame 结构

In [23]:
# 指定为字典结构: key,value,每一个属性列都是一个数组（一维）

import numpy as np


data = {'country':['aaa','bbb','ccc','ddd'],          
        'population':[10,20,30,np.nan]}          # np.nan ：表示空值,not a num
df_data = pd.DataFrame(data)
df_data

  country  population
0     aaa        10.0
1     bbb        20.0
2     ccc        30.0
3     ddd         NaN

取指定数据

In [27]:
entry = df['Entry']    # 矩阵的属性名
entry[:5]              # 取前五个数据

0    A0A584
1    Q9BXU3
2    Q15031
3    Q6PKC3
4    P42681
Name: Entry, dtype: object

series;dataFrame 中的一列、行

In [28]:
entry.index              # 查看属性的索引

RangeIndex(start=0, stop=20421, step=1)

In [29]:
entry.values[:5]             # 属性的values可以取出来

array(['A0A584', 'Q9BXU3', 'Q15031', 'Q6PKC3', 'P42681'], dtype=object)

In [30]:
df[:5]               # 同样可以取出前五个数据

,Entry,Entry name,Protein names,Gene names,Length,Mass
0,A0A584,TVBK2_HUMAN,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
1,Q9BXU3,TX13A_HUMAN,Testis-expressed protein 13A,TEX13A,409,"45,583"
2,Q15031,SYLM_HUMAN,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
3,Q6PKC3,TXD11_HUMAN,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
4,P42681,TXK_HUMAN,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [31]:
df['Entry'][:5]            # 通风样可以取出前五个数据

0    A0A584
1    Q9BXU3
2    Q15031
3    Q6PKC3
4    P42681
Name: Entry, dtype: object

自己指定索引

In [32]:
df = df.set_index('Entry name')    #set_index() 函数，可以设置索引，'Entry name'：索引名
df[:5]

,Entry,Protein names,Gene names,Length,Mass
Entry name,,,,,
TVBK2_HUMAN,A0A584,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
TX13A_HUMAN,Q9BXU3,Testis-expressed protein 13A,TEX13A,409,"45,583"
SYLM_HUMAN,Q15031,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
TXD11_HUMAN,Q6PKC3,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
TXK_HUMAN,P42681,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [45]:
gene = df['Gene names']
gene['TXK_HUMAN']               # 根据新的索引，

mass = df['Mass']
mass['SYLM_HUMAN']

'101,976'

In [46]:
df.dtypes

Entry            object
Protein names    object
Gene names       object
Length            int64
Mass             object
dtype: object

In [47]:
length = df['Length']
length = length + 100           

# 只能对int float 类型的数据进行运算，而且是对该列中的所有元素都进行该操作

length[:5]

Entry name
TVBK2_HUMAN     215
TX13A_HUMAN     509
SYLM_HUMAN     1003
TXD11_HUMAN    1085
TXK_HUMAN       627
Name: Length, dtype: int64

In [48]:
df[:5]

,Entry,Protein names,Gene names,Length,Mass
Entry name,,,,,
TVBK2_HUMAN,A0A584,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
TX13A_HUMAN,Q9BXU3,Testis-expressed protein 13A,TEX13A,409,"45,583"
SYLM_HUMAN,Q15031,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
TXD11_HUMAN,Q6PKC3,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
TXK_HUMAN,P42681,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [53]:
length.mean()

657.2601733509622

In [54]:
length.max()

34450

In [55]:
length.min()

102

In [56]:
df.describe()            # .describe() 函数可以得到数据的基本统计特性

             Length
count  20421.000000
mean     557.260173
std      595.835975
min        2.000000
25%      251.000000
50%      414.000000
75%      669.000000
max    34350.000000

#  2 - Pandas 索引

In [57]:
import pandas as pd

df = pd.read_csv('./data/test.csv')

In [58]:
df['Entry'][:5]

0    A0A584
1    Q9BXU3
2    Q15031
3    Q6PKC3
4    P42681
Name: Entry, dtype: object

In [62]:
df[:5]

,Entry,Entry name,Protein names,Gene names,Length,Mass
0,A0A584,TVBK2_HUMAN,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
1,Q9BXU3,TX13A_HUMAN,Testis-expressed protein 13A,TEX13A,409,"45,583"
2,Q15031,SYLM_HUMAN,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
3,Q6PKC3,TXD11_HUMAN,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
4,P42681,TXK_HUMAN,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [65]:
df[['Entry','Entry name']][:5]             # 取得是前两个属性的值，就用两个【】

    Entry   Entry name
0  A0A584  TVBK2_HUMAN
1  Q9BXU3  TX13A_HUMAN
2  Q15031   SYLM_HUMAN
3  Q6PKC3  TXD11_HUMAN
4  P42681    TXK_HUMAN

笔记：
 - 第一点：loc 用label 来去定位； iloc用position 来去定位
 - 第二点：

In [8]:
df.iloc[0]

Entry                                        A0A584
Entry name                              TVBK2_HUMAN
Protein names    T cell receptor beta variable 11-2
Gene names                  TRBV11-2 TCRBV21S3A2N2T
Length                                          115
Mass                                         12,743
Name: 0, dtype: object

In [9]:
df.loc[:5]

,Entry,Entry name,Protein names,Gene names,Length,Mass
0,A0A584,TVBK2_HUMAN,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
1,Q9BXU3,TX13A_HUMAN,Testis-expressed protein 13A,TEX13A,409,"45,583"
2,Q15031,SYLM_HUMAN,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
3,Q6PKC3,TXD11_HUMAN,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
4,P42681,TXK_HUMAN,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"
5,P40222,TXLNA_HUMAN,Alpha-taxilin,TXLNA TXLN,546,"61,891"

In [10]:
df.iloc[:2,4:5]               # 可以指定一个切片

   Length
0     115
1     409

In [11]:
df = df.set_index('Entry name')
df[:5]

,Entry,Protein names,Gene names,Length,Mass
Entry name,,,,,
TVBK2_HUMAN,A0A584,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
TX13A_HUMAN,Q9BXU3,Testis-expressed protein 13A,TEX13A,409,"45,583"
SYLM_HUMAN,Q15031,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
TXD11_HUMAN,Q6PKC3,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
TXK_HUMAN,P42681,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [12]:
df.loc['TXK_HUMAN']              # 可以定义一些非位置的信息

Entry                                                       P42681
Protein names    Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...
Gene names                                            TXK PTK4 RLK
Length                                                         527
Mass                                                        61,258
Name: TXK_HUMAN, dtype: object

In [22]:
df.loc['TXK_HUMAN','Mass']           # 统计指定的Entry name，的属性信息

'61,258'

bool 类型的索引

In [14]:
###  第一种取索引的方法
# 挑选前五个出长度大于2000的数据

df[df['Length'] > 2000][:5]           # 此时也只能判断int,float 类型的数据

,Entry,Protein names,Gene names,Length,Mass
Entry name,,,,,
SYNE1_HUMAN,Q8NF91,Nesprin-1 (Enaptin) (KASH domain-containing pr...,SYNE1 C6orf98 KIAA0796 KIAA1262 KIAA1756 MYNE1,8797,"1,011,086"
TTC3_HUMAN,P53804,E3 ubiquitin-protein ligase TTC3 (EC 2.3.2.27)...,TTC3 DCRR1 RNF105 TPRD,2025,"229,869"
TTC28_HUMAN,Q96AY4,Tetratricopeptide repeat protein 28 (TPR repea...,TTC28 KIAA1043 TPRBK,2481,"270,884"
U520_HUMAN,O75643,U5 small nuclear ribonucleoprotein 200 kDa hel...,SNRNP200 ASCC3L1 HELIC2 KIAA0788,2136,"244,508"
SYNE2_HUMAN,Q8WXH0,Nesprin-2 (KASH domain-containing protein 2) (...,SYNE2 KIAA1011 NUA,6885,"796,442"

In [27]:
# 第二种BOLL 类型的判断

df[df['Entry'] == 'O75643'][:5]

,Entry,Protein names,Gene names,Length,Mass
Entry name,,,,,
U520_HUMAN,O75643,U5 small nuclear ribonucleoprotein 200 kDa hel...,SNRNP200 ASCC3L1 HELIC2 KIAA0788,2136,"244,508"

In [28]:
(df['Length'] > 2000).sum()                       # 查看长度大于2000 的数据有多少条

453

In [ ]:
mean() 函数 求平均值函数

#  3 - group by 函数使用方法

In [33]:
import pandas as pd

df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                    'data':[0,5,10,5,10,15,10,15,20]})
df

  key  data
0   A     0
1   B     5
2   C    10
3   A     5
4   B    10
5   C    15
6   A    10
7   B    15
8   C    20

In [39]:
df[df['key'] == 'A'].sum()             # 找出key =  'A' 的data，并求和

key     AAA
data     15
dtype: object

In [47]:
# 用 python 来实现

# for key in ['A','B','C']:                             #  for key in ['A','B','C']:
#     print(key,df[df['key'] == key].sum())




for key in df:
    print(key,df[df['key'] == 'A'].sum())

key key     AAA
data     15
dtype: object
data key     AAA
data     15
dtype: object

In [48]:
# groupby 函数进行分组
df.groupby('key').sum()

     data
key
A      15
B      30
C      45

In [51]:
import numpy as np
  
    # 传进来一个变换的方法，aggregate（） ，求平均值mean
df.groupby('key').aggregate(np.mean)

     data
key
A       5
B      10
C      15

In [54]:
# df.groupby('sex')['age'].mean()      先按照性别分类，再按照年龄求平均值

In [ ]:
# df.groupby('sex')['surived'].mean()      按照性别统计获救的可能性

# 5 -  数值运算

In [55]:
import pandas as pd 

# 自己创建一个dataFrame结构，二维的数组含有两个样本，三个特征，索引和列名重新自己指定

df = pd.DataFrame([[1,2,3],[4,5,6]],index = ['a','b'],columns = ['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6

In [56]:
df.sum()                 # 默认的求和方式是按照竖着求和，即按列进行求和

A    5
B    7
C    9
dtype: int64

In [58]:
df.sum(axis = 1)          # 指定好维度就可以横着求和了

a     6
b    15
dtype: int64

In [59]:
df.sum(axis = 'columns')            # 也可以直接指定列名

a     6
b    15
dtype: int64

#  二元统计

In [60]:
df = pd.read_csv('./data/test.csv')

In [61]:
df.head()

,Entry,Entry name,Protein names,Gene names,Length,Mass
0,A0A584,TVBK2_HUMAN,T cell receptor beta variable 11-2,TRBV11-2 TCRBV21S3A2N2T,115,"12,743"
1,Q9BXU3,TX13A_HUMAN,Testis-expressed protein 13A,TEX13A,409,"45,583"
2,Q15031,SYLM_HUMAN,"Probable leucine--tRNA ligase, mitochondrial (...",LARS2 KIAA0028,903,"101,976"
3,Q6PKC3,TXD11_HUMAN,Thioredoxin domain-containing protein 11 (EF-h...,TXNDC11 EFP1,985,"110,529"
4,P42681,TXK_HUMAN,Tyrosine-protein kinase TXK (EC 2.7.10.2) (Pro...,TXK PTK4 RLK,527,"61,258"

In [62]:
df.cov()                         # 求协方差 函数cov(),相关系数

               Length
Length  355020.509143

In [64]:
df.corr()                   # 求每一列的相关系数，在【-1,1】之间， 自己和自己的相关性为1

        Length
Length     1.0

In [66]:
#df['Age'].value_counts()         # 计算相同年龄的人有多少个,函数vulue.counts()
df['Length'].value_counts()               # 此时排序很乱

117     90
312     84
314     72
309     62
362     60
115     59
313     58
311     56
114     54
315     52
317     52
365     51
530     48
310     47
189     47
323     46
316     45
318     45
325     45
118     44
147     44
350     44
359     44
346     44
261     42
205     42
299     41
201     41
464     40
351     40
        ..
4981     1
3014     1
3926     1
2377     1
2313     1
2297     1
2201     1
2169     1
2089     1
40       1
2057     1
8        1
2015     1
1927     1
1911     1
1783     1
3046     1
1703     1
1655     1
1623     1
1527     1
1495     1
3526     1
1367     1
1319     1
1175     1
3174     1
1111     1
3142     1
4022     1
Name: Length, Length: 2152, dtype: int64

In [75]:
# df['age'].value_counts(ascending = True)         可以指定按升序排列， 即 指定ascending  = True
# df['Length'].value_counts(ascending = True) 


# df['Length'].value_counts(bins = 5)            

# # (-32.349, 6871.6]     20412
# # (6871.6, 13741.2]         7
# # (27480.4, 34350.0]        1
# # (13741.2, 20610.8]        1
# # (20610.8, 27480.4]        0
# # Name: Length, dtype: int64

df['Length'].value_counts(ascending = True,bins = 5)     # bins = 5  进行分组的统计，

(20610.8, 27480.4]        0
(13741.2, 20610.8]        1
(27480.4, 34350.0]        1
(6871.6, 13741.2]         7
(-32.349, 6871.6]     20412
Name: Length, dtype: int64

# 6 - 对象操作

Seies 结构的增删改查

In [78]:
import pandas as pd

data = [10,11,12]
index = ['a','b','c']

s = pd.Series(data = data,index = index)
s

a    10
b    11
c    12
dtype: int64

查操作     往里面传索引就可以了，或者是往里面传掩码

In [79]:
s[0]

10

In [80]:
s[0:2]

a    10
b    11
dtype: int64

In [81]:
mask = [True,False,True]           #往里面传掩码
s[mask]

a    10
c    12
dtype: int64

In [82]:
s.loc['b']                   # loc[] 是往里面传非数值的索引

11

In [83]:
s.iloc[1]                  # 往里面传数值的索引

11

改操作

In [115]:
s1 = s.copy()
s1['a'] = 100                    # 避免改了原有的数据，要先进行复制，在对新的数据进行替换
s1

a    100
b     11
c     12
dtype: int64

In [116]:
s

a    10
b    11
c    12
dtype: int64

In [117]:
s1.replace(to_replace = 100,value = 101,inplace = True)            # 当数据中有异常值时 可以进行替换
s1

a    101
b     11
c     12
dtype: int64

In [118]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [119]:
s1.rename(index = {'a':'A'},inplace = True)                          # 进行索引的重命名：s1.rename(index = {'a':'A'}),可以没有,inplace = True

增操作

In [120]:
data = [100,110]
index = ['h','k']
s2 = pd.Series(data = data,index = index)
s2

h    100
k    110
dtype: int64

In [121]:
s3 = s1.append(s2)                        # append(s2)函数，默认在最后添加

In [122]:
s3['j'] = 500                          # 也可以新加一个名字，指定一个值
s3

A    101
b     11
c     12
h    100
k    110
j    500
dtype: int64

删操作

In [123]:
s1

A    101
b     11
c     12
dtype: int64

In [124]:
del s1['A']
s1

b    11
c    12
dtype: int64

In [131]:
# s1['b'] = 100

s1.drop(['b'],inplace = True)        # 此时如果没有inplace = True 就不会进行删除
s1

c    12
dtype: int64

In [ ]:
DataFrame 结构的增删改查与之很类似，未完待续