#  apply 自定义函数 11 - 常用操作

In [2]:

import pandas as pd

data = pd.DataFrame({'group':['a','a','a','b','b','b','c','c','c'],
                    'data':[4,3,2,1,12,3,4,5,7]})
data

  group  data
0     a     4
1     a     3
2     a     2
3     b     1
4     b    12
5     b     3
6     c     4
7     c     5
8     c     7

In [4]:
# by=['group','data'],ascending = [False,True]: 指定排序方式，先按照group的降序排列，再按照data 的升序排列，没有进行赋值，要指定inplace 为True
# 如果没有指定inplace  的话，只是相当于一次打印操作
data.sort_values(by=['group','data'],ascending = [False,True],inplace = True)
data

  group  data
6     c     4
7     c     5
8     c     7
3     b     1
5     b     3
4     b    12
2     a     2
1     a     3
0     a     4

In [10]:
data.drop_duplicates()               # 去掉data 中相同的值，drop_duplicates() 函数，方法

  group  data
6     c     4
7     c     5
8     c     7
3     b     1
5     b     3
4     b    12
2     a     2
1     a     3
0     a     4

In [13]:
data.drop_duplicates(subset = 'group')            # 可以指定参数subset

  group  data
6     c     4
3     b     1
2     a     2

In [16]:
data = pd.DataFrame({'food':['A1','A2','B1','B2','B3','C1','C2'],
                  'data':[4,3,2,1,5,6,7]})
data

  food  data
0   A1     4
1   A2     3
2   B1     2
3   B2     1
4   B3     5
5   C1     6
6   C2     7

In [17]:
# 第一种方法
# apply() 函数: DataFrame.apply(函数名，axis= 'columns') ，就会对当前的DataFrame中的每一条数据都按照axis执行该函数,
# 可以自定对当前的每一个样本要执行的操作进行设置

def food_map(series):
    if series['food'] == 'A1':
        return 'A'
    elif series['food'] == 'A2':
        return 'A'
    elif series['food'] == 'B1':
        return 'B'
    elif series['food'] == 'B2':
        return 'B'
    elif series['food'] == 'B3':
        return 'B'
    elif series['food'] == 'C1':
        return 'C'
    elif series['food'] == 'C2':
        return 'C'
data['food_map'] = data.apply(food_map,axis = 'columns')               # 重新指定一列
data

  food  data food_map
0   A1     4        A
1   A2     3        A
2   B1     2        B
3   B2     1        B
4   B3     5        B
5   C1     6        C
6   C2     7        C

In [18]:
# 第二种方法
# 定义一个字典

food2Upper = {
    'A1':'A',
    'A2':'A',
    'B1':'B',
    'B2':'B',
    'B3':'B',
    'C1':'C',
    'C2':'C'
}
data['upper'] = data['food'].map(food2Upper)

# map() 函数，将data中的数据按照'food'列，定位到列进行映射到字典food2Upper 中,并且添加一列upper

data

  food  data food_map upper
0   A1     4        A     A
1   A2     3        A     A
2   B1     2        B     B
3   B2     1        B     B
4   B3     5        B     B
5   C1     6        C     C
6   C2     7        C     C

In [2]:
import numpy as np
import pandas as pd
import datetime

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5)})
df

      data1     data2
0  0.753232  0.344389
1  0.776192  0.333456
2  0.424466  0.315402
3  0.879429  0.427384
4  0.597409  0.923825

In [3]:
pd.get_option("display.precision")

6

In [4]:
pd.set_option('display.precision',3)

In [5]:
pd.get_option('display.precision')

3

In [30]:
df

   data1  data2
0  0.453  0.086
1  0.006  0.007
2  0.082  0.395
3  0.333  0.488
4  0.848  0.236

In [31]:
# 创建一个变量， 并制定一个新的名字ration

# #最好是 这样,直接指定名字
# df['ration'] = df['data1']/df['data2']

df2 = df.assign(ration = df['data1']/df['data2'])

In [32]:
df2

   data1  data2  ration
0  0.453  0.086   5.250
1  0.006  0.007   0.865
2  0.082  0.395   0.208
3  0.333  0.488   0.681
4  0.848  0.236   3.592

In [35]:
## 补充apply函数的用法

# def not_null_count(columns):
#     columns_null = pd.isnull(columns)   # 判断当前列函数值是否为空,返回索引
#     null = columns[columns_null]       # 依据索引定位到当前数据，计算空值数据的个数
#     return len(null)

# columns_null_count = test.apply(not_null)    # apply(函数名)
# columns_null_count



# 判断当前的乘客属于几等仓
# def which_class(row):
#     pclss = row['Pclass']
#     if pd.isnull(pclass):
#         return 'Unknow'
#     elif pclass == 1:
#         return 'first class'
#     elif pclass == 2:
#         return 'second class'
#     elif pclass = 3:
#         return 'Third class'
    
# classes = test.apply(which_class,axis = 1)
# classes



# 查看当前的年龄是否是小于18 岁的，为True
# def is_miner(row):
#     if row['Age'] < 18:               # 会对当前样本的每一列的Age 进行判断
#         return True
#     else:
#         return False
# miners = test.apply(is_miner,axis = 0)
# miners

SyntaxError: invalid syntax (<ipython-input-35-3a47d8df84e0>, line 22)

In [8]:
ages = [15,18,20,21,22,23,34,41,52,63,79]          # 设置一个年龄的序列，数组

# 直接设置bins 为具体数值，就是将ages等距切分
# bins = 5       
# bins_res = pd.cut(ages,bins)
# bins_res   

#结果：[(14.936, 27.8] < (27.8, 40.6] < (40.6, 53.4] < (53.4, 66.2] < (66.2, 79.0]]


# 直接将区间分好，
bins = [10,20,40,60,80]  
bins_res = pd.cut(ages,bins)
bins_res


#结果：Categories (4, interval[int64]): [(10, 20] < (20, 40] < (40, 60] < (60, 80]]

[(10, 20], (10, 20], (10, 20], (20, 40], (20, 40], ..., (20, 40], (40, 60], (40, 60], (60, 80], (60, 80]]
Length: 11
Categories (4, interval[int64]): [(10, 20] < (20, 40] < (40, 60] < (60, 80]]

In [11]:
# bins_res.labels

# 计算划分区间中的值的个数：函数value_counts()
pd.value_counts(bins_res)

(20, 40]    4
(10, 20]    3
(60, 80]    2
(40, 60]    2
dtype: int64

In [12]:
pd.cut(ages,[10,30,50,80])      # 把年龄划分为几个区间

[(10, 30], (10, 30], (10, 30], (10, 30], (10, 30], ..., (30, 50], (30, 50], (50, 80], (50, 80], (50, 80]]
Length: 11
Categories (3, interval[int64]): [(10, 30] < (30, 50] < (50, 80]]

In [16]:
group_names = ['Yonth','Mille','Old']              # 把年龄定义几个名字

# pd.cut(ages,[10,30,50,80,],labels = group names)

# pd.cut(序列，分组，标签 )把年龄切分为3 片，并且给他标记名字
# pd.value_counts() 函数，统计每一个标记的数目

pd.value_counts(pd.cut(ages,[10,30,50,80],labels = group_names))

Yonth    6
Old      3
Mille    2
dtype: int64

In [6]:
df

   data1  data2
0  0.753  0.344
1  0.776  0.333
2  0.424  0.315
3  0.879  0.427
4  0.597  0.924

In [8]:
# isnull() 函数用来判断DataFram 是否为空值

df.isnull()

   data1  data2
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

In [25]:
# 自己创建一个DataFrame : 属于Pandas 模块里面的函数
import pandas as pd
from math import nan
# nan 和isnan 均在math包中，必须导入才可以用np.nan 

df = pd.DataFrame([range(3),[0,np.nan,0],[0,0,np,nan],range(3)])      # DataFrame 中包含4 个列表
df

   0    1                                                  2   3
0  0  1.0                                                  2 NaN
1  0  NaN                                                  0 NaN
2  0  0.0  <module 'numpy' from 'd:\\python37\\lib\\site-... NaN
3  0  1.0                                                  2 NaN

In [23]:
# 查看math包中的函数类型

# import math as mt
# dir(mt)

In [22]:
df.isnull()

       0      1      2     3
0  False  False  False  True
1  False   True  False  True
2  False  False  False  True
3  False  False  False  True

In [26]:
df.isnull().any()     # 查看有没有缺失值,默认为查看列

0    False
1     True
2    False
3     True
dtype: bool

In [27]:
df.isnull().any(axis = 1)       # 查看每一hang是否有缺失值

0    True
1    True
2    True
3    True
dtype: bool

In [28]:
#  fillna() 函数： 填充有缺失值的

df.fillna(5)

   0    1                                                  2    3
0  0  1.0                                                  2  5.0
1  0  5.0                                                  0  5.0
2  0  0.0  <module 'numpy' from 'd:\\python37\\lib\\site-...  5.0
3  0  1.0                                                  2  5.0

In [ ]:
# [df.isnull().any(axis =1)] : 返回的是一个索引

df[df.isnull().any(axis =1)]

#  13 - 字符串操作

In [36]:
import pandas as pd
import numpy as np
from math import nan

s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [37]:
# Series 有str的属性

s.str.lower()            # 将字符串转换成小写

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [38]:
s.str.upper()               # 将字符串转换成大写

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [39]:
s.str.len()                # str.len（）函数可以查看str的长度

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [40]:
index = pd.Index(['        tang    ','    yu ','    di '])
index

Index(['        tang    ', '    yu ', '    di '], dtype='object')

In [41]:
# strip() 函数，可以除去字符串中的空格

index.str.strip()

Index(['tang', 'yu', 'di'], dtype='object')

In [42]:
dir()
# dir(pd)

['In',
 'Out',
 '_',
 '_16',
 '_17',
 '_19',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_5',
 '_6',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'df',
 'exit',
 'get_ipython',
 'index',
 'nan',
 'np',
 'pd',
 'quit',
 's',
 's1']

In [43]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [44]:
# lstrip() 函数可以去掉左边的空格

index.str.lstrip()

Index(['tang    ', 'yu ', 'di '], dtype='object')

In [45]:
# 可以去掉右边的空格

index.str.rstrip()

Index(['        tang', '    yu', '    di'], dtype='object')

In [46]:
df = pd.DataFrame(np.random.rand(3,2),columns = ['A a','B b'],index = range(3))
pd.set_option('display.precision',3)
df

     A a    B b
0  0.848  0.214
1  0.547  0.087
2  0.154  0.867

In [47]:
df.columns = df.columns.str.replace(' ','_')   
# 对df 的columns 的字符串进行操作，relace() 函数：替换
df

     A_a    B_b
0  0.848  0.214
1  0.547  0.087
2  0.154  0.867

In [48]:
s = pd.Series(['a_b_C','C_D_E','F_G_H'])
s

0    a_b_C
1    C_D_E
2    F_G_H
dtype: object

In [49]:
# Series 含有str这个属性，可以利用split（） 函数进行依据‘_’切分，
# 把字符串切成列表

s.str.split('_')

0    [a, b, C]
1    [C, D, E]
2    [F, G, H]
dtype: object

In [50]:
# 切分之后可以直接装换为DataFrame， 直接指定expand = True

s1 = s.str.split('_',expand = True)
s1

   0  1  2
0  a  b  C
1  C  D  E
2  F  G  H

In [52]:
# contains （） 函数可以查看，字符串中是否包含前缀，后缀
s.str.contains('a')

0     True
1    False
2    False
dtype: bool

In [56]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [57]:
# 关联分析的时候，用到get_dummies()函数

s.str.get_dummies(sep = '|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1